<div class="list row">
  <div class="col-md-8 col-sm-12">
    <div class="input-group mb-3">

      <input
        [(ngModel)]="title"
        class="form-control me-3"
        placeholder="Chercher par titre d'activité"
        type="text"
      />

      <div class="input-group-append">
        <button
          (click)="searchTitle()"
          class="btn btn-outline-secondary"
          type="button"
        >
          Rechercher
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-sm-12 mb-3">
    <input
      class="me-2"
      id="ownActivities"
      type="checkbox"
    />
    <label for="ownActivities">N'afficher que ses activités</label>

  </div>

  <div class="col-md-6 col-sm-12">
    <h4>Liste des activités</h4>
    <div style="max-height: 50vh; overflow-y: auto;">
      <ul class="list-group">
        <li
          (click)="setActiveActivity(activity, i)"
          *ngFor="let activity of activities; let i = index"
          [class.active]="i == currentIndex"
          class="list-group-item overflow-scroll"
        >
          {{ activity.title }}
        </li>
      </ul>
    </div>

    <button (click)="toggleMessage()" class="m-3 btn btn-sm btn-danger">
      Tout supprimer
    </button>

    <div [ngbCollapse]="isMessageVisible" class="collapse mt-3">
      <p>Voulez-vous VRAIMENT supprimer toutes les activités ?</p>
      <button (click)="toggleMessage()" class="btn btn-warning me-2">No go back :(</button>
      <button (click)="removeAllActivities()" class="btn btn-danger">Yes, kill them all</button>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <app-activity-details
      [currentActivity]="currentActivity"
      [ownProfile]="ownAuthor"
      [viewMode]="true"
    ></app-activity-details>
  </div>
</div>
