<div *ngIf="viewMode; else editable">
  <div *ngIf="currentActivity.id" class="card">
    <h4 class="card-header fs-3">{{ currentActivity.sport.title | titlecase }}</h4>

    <div class="card-body">
      <div>
        <strong class="fs-4">{{ currentActivity.title }}</strong>
      </div>

      <div *ngIf="currentActivity.postedBy;else anon_activity">
        <label><strong class="me-1">De :</strong></label>
        <a href="/profil/{{currentActivity.postedBy.id}}">{{ currentActivity.postedBy.pseudo | titlecase }}</a>
      </div>
      <ng-template #anon_activity>
        <label><strong>De : Anonyme</strong></label>
      </ng-template>


      <div *ngIf="currentActivity.activityDate">
        <label><strong>Date :</strong></label>
        {{ currentActivity.activityDate | date: 'dd/MM/yyyy HH:mm' }}
      </div>

      <div>
        <label><strong>Durée:</strong></label>
        {{ formatDuration(currentActivity.duration, false) }}
      </div>

      <div>
        <label><strong>Distance:</strong></label>
        {{ currentActivity.distance }}
      </div>

      <div>
        <label><strong>Description:</strong></label>
        {{ currentActivity.description }}
      </div>

      <div>
        <label><strong>Status:</strong></label>
        {{ currentActivity.isPrivate ? "Public" : "Privé" }}
      </div>

      <div *ngIf="this.isLogged && this.ownProfile">
        <a class="badge bg-warning" routerLink="/activite/{{ currentActivity.id }}">
          Edit
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="!currentActivity.id">
    <br/>
    <p>Sélectionnez une activité</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="ownProfile; else youDoNotBelongHere">
    <div *ngIf="currentActivity.id" class="edit-form">
      <h4>Activité</h4>

      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            [(ngModel)]="currentActivity.title"
            class="form-control"
            id="title"
            name="title"
            type="text"
          />
        </div>

        <div class="form-group">
          <label class="me-2" for="editActivityChoice">Modifier le type d'activité</label>
          <select id="editActivityChoice">
            <option [ngValue]="null" disabled>Choisir un sport</option>
            <option *ngFor="let sport of sports" [ngValue]="sport.id">{{sport.title}}</option>
          </select>
        </div>

        <div class="input-group">

          <div class="col-md-4">
            <label for="duration-hours">Heures</label>
            <input
              [(ngModel)]="activityDuration.hour"
              class="form-control"
              id="duration-hours"
              name="duration-hours"
              type="number"
            />
          </div>

          <div class="col-md-4">
            <label for="duration-minutes">Minutes</label>
            <input
              [(ngModel)]="activityDuration.minute"
              class="form-control"
              id="duration-minutes"
              name="duration-minutes"
              required
              type="number"
            />
          </div>

          <div class="col-md-4">
            <label for="duration-seconds">Secondes</label>
            <input
              [(ngModel)]="activityDuration.second"
              class="form-control"
              id="duration-seconds"
              name="duration-seconds"
              required
              type="number"
            />
          </div>

        </div>

        <div class="form-group">
          <label for="distance">Distance (en km)</label>
          <input
            [(ngModel)]="currentActivity.distance"
            class="form-control"
            id="distance"
            name="distance"
            required
            type="number"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            [(ngModel)]="currentActivity.description"
            class="form-control"
            id="description"
            name="description"
            type="text"
          />
        </div>

        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentActivity.isPrivate ? "Public" : "Privé" }}
        </div>
      </form>

      <div class="d-grid gap-2" role="group">

        <button
          (click)="updateActivity()"
          class="btn btn-success"
          type="submit"
        >
          Modifier
        </button>

        <button
          (click)="updatePrivacyStatus(false)"
          *ngIf="currentActivity.isPrivate"
          class="btn btn-info"
        >
          Rendre privé
        </button>

        <button
          (click)="updatePrivacyStatus(true)"
          *ngIf="!currentActivity.isPrivate"
          class="btn btn-info"
        >
          Rendre public
        </button>

        <button (click)="toggleDeleteMessage()" class="btn btn-danger">
          Supprimer l'activité
        </button>

      </div>


      <div [ngbCollapse]="deleteActivityMessageDisplay" class="collapse mt-3">
        <p>Voulez-vous VRAIMENT supprimer cette activité ?</p>
        <button (click)="toggleDeleteMessage()" class="btn btn-warning me-2">No go back :(</button>
        <button (click)="deleteActivity()" class="btn btn-danger">Yes, kill it !</button>
      </div>

      <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentActivity.id">
      <br/>
      <p>Impossible d'afficher l'activité</p>
    </div>

  </div>

</ng-template>

<ng-template #youDoNotBelongHere>
  What are you trying to do ?
</ng-template>
